<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.provider.ProviderMapper">
    <!--provider公共结果集-->
    <resultMap id="providerResult" type="Provider">
        <id property="id" column="id"/>
        <result property="proCode" column="proCode"/>
        <result property="proName" column="proName"/>
        <result property="proDesc" column="proDesc"/>
        <result property="proContact" column="proContact"/>
        <result property="proPhone" column="proPhone"/>
        <result property="proAddress" column="proAddress"/>
        <result property="proFax" column="proFax"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
    </resultMap>
    <!--增加供应商,id自增-->
    <insert id="addProvider">
        insert into smbms_provider
        (
        proCode,proName,proDesc, proContact,proPhone,proAddress,proFax,createdBy,creationDate
        )
        values
        (
        #{proCode},#{proName},#{proDesc}, #{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate}
        )
    </insert>
    <!--多条件查询：proName,proCode;多参数入参-->
    <select id="getProviderList" resultMap="providerResult">
        select * from smbms_provider
        <trim prefix="where" prefixOverrides="and|or">
            <if test="proName!=null and proName !=''">
                and proName like concat("%",#{proName},"%")
            </if>
            <if test="proCode != null and proCode != ''">
                and proCode like concat("%",#{proCode},"%")
            </if>
        </trim>
    </select>
    <!--根据id删除provider-->
    <delete id="deleteProviderById">
        delete from smbms_provider where id = #{id}
    </delete>
    <!--根据id查询provider-->
    <select id="getProviderById" resultMap="providerResult">
        select * from smbms_provider where id = #{id};
    </select>
    <!--修改provider-->
    <update id="modifyProvider">
        update smbms_provider
        set
        proName=#{proName},
        proDesc=#{proDesc},
        proContact=#{proContact},
        proPhone=#{proPhone},
        proAddress=#{proAddress},
        proFax=#{proFax},
        modifyBy=#{modifyBy},
        modifyDate=#{modifyDate}
        where id = #{id}
    </update>
</mapper>
