<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.bill.BillMapper">
    <!--账单的公共结果集-->
    <resultMap id="BillResult" type="Bill">
        <id property="id" column="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="productDesc" column="productDesc"/>
        <result property="productUnit" column="productUnit"/>
        <result property="productCount" column="productCount"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <result property="providerId" column="providerId"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="providerName" column="providerName"/>
    </resultMap>
    <!--增加订单，主键id自增-->
    <insert id="addBill" parameterType="Bill">
        insert into smbms_bill
        (
        billCode,productName,productDesc,productUnit,productCount,totalPrice,isPayment,providerId,createdBy,creationDate
        )
        values
        (
        #{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{providerId},#{createdBy},#{creationDate}
        )
    </insert>
    <!--多条件查询：productName,providerId,isPayment.
    bill月provider连表查询
    复杂类型入参：Bill-->
    <select id="getBillList" resultMap="BillResult" parameterType="Bill">
        select b.*,p.proName as providerName from smbms_bill b, smbms_provider p where b.providerId = p.id
        <if test="productName != null and productName !=''">
            and productName like concat("%",#{productName},"%")
        </if>
        <if test="providerId>0">
            and providerId = #{providerId}
        </if>
        <if test="isPayment>0">
            and isPayment=#{isPayment}
        </if>
    </select>
    <!--删除订单,Integer入参-->
    <delete id="deleteBillById">
        delete from smbms_bill where id=#{id}
    </delete>
    <!--根据订单id查询订单Integer入参-->
    <select id="getBillById" resultMap="BillResult">
        select b.*,p.proName as providerName
        from smbms_bill b, smbms_provider p
        where b.providerId = p.id
        and b.id=#{id}
    </select>
    <!--修改订单信息,Bill入参-->
    <update id="modifyBill">
        update smbms_bill
        set
        productName=#{productName},
         productDesc=#{productDesc},
         productUnit=#{productUnit},
         productCount=#{productCount},
         totalPrice=#{totalPrice},
         isPayment=#{isPayment},
         providerId=#{providerId},
         modifyBy=#{modifyBy},
         modifyDate=#{modifyDate}
          where id = #{id}
        </update>
    <!--根据供应商ID查询订单数量Integer入参，返回Integer-->
    <select id="getBillCountByProviderId" resultType="java.lang.Integer">
        select count(1) as billCount from smbms_bill where providerId = #{providerId}
    </select>
</mapper>
